.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: white;
}
.icon-socials-media {
  padding: 2px;
  border: solid 2px white;
  border-radius: 30%;
  cursor: pointer;
}
